target/
*.iml
.idea/
.DS_Store

.gradle
build


/swipelistview/gen/com/fortysevendeg/swipelistview/BuildConfig.java
/swipelistview/gen/com/fortysevendeg/swipelistview/Manifest.java
/swipelistview/gen/com/fortysevendeg/swipelistview/R.java
